.Navbar .search {
	margin-left: 0.5em;
	margin-right: 2.3rem;
	padding: 0.5rem;
}
.Navbar .search:hover {
	background-color: rgba(0, 116, 199, 0.3);
	border-radius: 5px;
	transition: background 0.3s;
}
.Navbar .searchbar {
	height: 100%;
	margin-right: 6rem;
	position: absolute;
	width: 80%;
}
.Navbar .searchbar input {
	border: none;
	border-radius: 7px 0 0 7px;
	height: 40%;
	padding-left: 1em;
	width: 100%;
}
.Navbar .searchbar svg {
	background: #0074c7;
	border-radius: 0 5px 5px 0;
	height: 40%;
	padding: 0.3rem;
}
.Navbar .signUp {
	background: transparent;
	border: 1px solid #0074c7;
	border-radius: 5px;
	color: #0074c7;
	cursor: pointer;
	font-size: 1.1rem;
	font-weight: 550;
	height: 50%;
	outline: none;
	width: 25%;
}
.Navbar .signUp:hover {
	background: #434f5f;
	transition: background 0.3s;
}
.Navbar,
.lowerNav {
	background: #1b2129;
	color: #fff;
	height: 6em;
	line-height: 1.5;
	width: 100%;
}
.leftMenu {
	height: 100%;
	margin-left: 1.5em;
	width: 90%;
}
.leftMenu a,
.lowerNav .lowerleft a,
.lowerNav .social #hashtag {
	color: #fff;
	font-weight: 550;
	text-decoration: none;
}
.leftMenu a:hover {
	color: #0074c7;
	transition: color 0.3s;
}
.logo {
	color: #fff;
	height: auto;
	max-height: 6em;
	padding: 1em;
}
.lowerNav {
	height: 3.2em;
	margin: 0;
	overflow-x: scroll;
	padding: 0.7em 7% 0;
}
.lowerNav .lowerleft {
	line-height: 1.9em;
	min-width: 27em;
	position: relative;
	width: 27em;
}
.lowerNav .lowerleft .active,
.lowerNav .lowerleft .active:hover {
	border-bottom: 5px solid #0074c7;
	padding-bottom: 0.3em;
}
.lowerNav .lowerleft a,
.lowerNav .social #hashtag {
	border-bottom: 5px solid transparent;
}
.lowerNav .lowerleft a:hover,
.lowerNav .social #hashtag:hover {
	border-bottom: 5px solid #fff;
	transition: border 0.5s;
}
.lowerNav .social {
	height: 100%;
	padding-bottom: 0.3em;
	padding-left: min(5px);
	position: relative;
	width: 13em;
}
.lowerNav .social {
	line-height: 1.9em;
}
.lowerNav .social #fb i,
#tw i,
#in i {
	width: 2.1em;
}
.lowerNav .social #fb,
#tw,
#in {
	border: 1px solid rgba(255, 255, 255, 0.7);
	border-radius: 50%;
	color: #fff;
	font-size: 0.8rem;
	margin: min(6px);
	padding: 2px;
	text-align: center;
}
.lowerNav .social #fb:hover,
#tw:hover,
#in:hover {
	border: 1px solid #ccc;
	color: #ccc;
}
.lowerNav::-webkit-scrollbar {
	display: none;
}
